<!DOCTYPE html>
<html lang="zh-cmn-Hans">

<head>
    <meta charset="UTF-8">
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=2.0 minimum-scale=0.5, user-scalable=no" />
    <meta name="screen-orientation" content="portrait">
    <meta name="x5-orientation" content="portrait">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>On!</title>
    <link rel="stylesheet" href="/static/css/weui.min.css"/>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/static/css/jquery-weui.min.css"/>
    <link rel="stylesheet" href="/static/css/index.css"/>
    <link rel="stylesheet" href="/static/css/share.css"/>
    <link rel="stylesheet" href="//at.alicdn.com/t/font_591099_7lgqsc75gbiysyvi.css"/>
{#    <link rel="stylesheet" href="//at.alicdn.com/t/font_591099_cj3jntyolxxenrk9.css"/>#}
{#    <link rel="stylesheet" href="/static/css/public.css"/>#}

{#    <link rel="stylesheet" href="/static/css/weui.min.css" />#}
{#	<link rel="stylesheet" href="/static/css/bootstrap.min.css" />#}
{#	<link rel="stylesheet" href="/static/css/jquery-weui.min.css" />#}
{#	<link rel="stylesheet" href="/static/css/goal.css" />#}
	<link rel="stylesheet" href="/static/css/target.css" />
	<link rel="stylesheet" href="/static/css/share.css"/>

    <link rel="stylesheet" href="/static/css/public.css">

    <style>
        body {
            background-color: white;
        }
        .icon-user,.icon-mubiao,.icon-huodongzhongxin{
            font-weight: 500;
        }
        .iconfont_on{
            color:rgba(31,162,255,1) !important;
        }

        .weui-toast--forbidden .weui-icon_toast{
            color: white;
        }
        iframe {
            display: none!important;
        }
        .weui-tabbar__item.weui-bar__item_on .weui-tabbar__icon, .weui-tabbar__item.weui-bar__item_on .weui-tabbar__icon > i, .weui-tabbar__item.weui-bar__item_on .weui-tabbar__label{
            color: #999999;
        }
        .weui-tabbar__label{
            color: #999999;
        }
        .weui-tabbar a:visited {
            color: #999999;
        }
        .card-progress{
            position: inherit;
            background-color: inherit;
        }
        .card-name{
            padding:1px 5px;
            font-weight: bold;
            color: #212121;
        }
        .card-tag{
            color: #4a4a4a;
            margin-left:5px;
            font-size: 0.5rem;
            text-overflow:ellipsis;
            overflow:hidden;
            white-space:nowrap;
        }
        .card-tag .span-text{

        }
        .weui-tabbar__label{
            line-height: 25px;
        }

        #nav1 .comingSoon{
            display: none;
        }
        .weui-navbar__item>i{
            width: 1.2rem;
            height: 1.2rem;
            font-size: 0.8rem;
            line-height: 1.2rem;
        }
        .weui-bar__item--on>i,.weui-bar__item--on>span{
            color: rgba(31,162,255,1)
        }

    </style>
    <style>
        .mask_on{
            position: fixed;
            z-index: 1000;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            background: rgba(0,0,0,.6);
        }

        .mask_on_1{
            position: fixed;
            z-index: 99999;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            background: rgba(0,0,0,.1);
        }
        .mask_on__1{
            position: fixed;
            z-index: 99999;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            background: rgba(0,0,0,.0);
            display: none;
        }
        .activity_type_2{
            position: relative;
        }
        .prompt_read{
            position: fixed;
            {#position: absolute;#}
            z-index: 5000;
            width: 100%;
            top: 0;
            left: 10%;
            display: none;
        }
    </style>

</head>

<body>
    <!--整个页面-->
    <div class="top-pannel">
        <!--轮播图-->
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide" data-link="#">
                    <img src="/static/images/swiper/swiper-1@2x.png" alt="https://mp.weixin.qq.com/cgi-bin/appmsg?begin=0&count=10&type=10&action=list_card&token=1726753336&lang=zh_CN">
                </div>
                <!--
                <div class="swiper-slide" data-link="https://mp.weixin.qq.com/s?__biz=MzI2Mjc4OTU4Ng==&mid=2247483817&idx=1&sn=6855ad2314c6775f1d93aeed0814b9a7&chksm=ea448114dd33080228d4fd03d2d6756c708402146c09ed4be2b45d242d99cc53d87a3287f811#rd">
                    <img src="/static/images/swiper/lei@2x_1.jpg" alt="">
                </div>
                -->
                <div class="swiper-slide" data-link="https://mp.weixin.qq.com/s?__biz=MzI2Mjc4OTU4Ng==&mid=2247483823&idx=1&sn=8c1bd6a19c8b7d52af2c6028f662ca5a&chksm=ea448112dd330804f1edc6876ca60b5fa93ed247805e398598d086efb19365e8eff3e15eff43#rd">
                    <img src="/static/images/swiper/InvitingFriends@2x.png" alt="">
                </div>
                <!--

                -->
                <div class="swiper-slide" data-link="https://mp.weixin.qq.com/s/EeqEBNizhRHBG2pI0oGnWw" style="">
                    <img src="/static/images/swiper/swiper_read@2x.png" alt="">
                </div>



            </div>
            <div class="swiper-pagination swiper-pagination-bullets">
                <span class="swiper-pagination-bullet"></span>
                <span class="swiper-pagination-bullet"></span>
                <span class="swiper-pagination-bullet"></span>
            </div>
        </div>
        <!--标签页-->

        <div class="tabpage-panel">
            <div class="weui-tab">
                <div class="weui-navbar">
                    <a class="weui-navbar__item weui-bar__item--on" href="#nav1">
                        <i class="iconfont icon-On-icon-2"></i>

                        <span>热门</span>
                    </a>
                    <a class="weui-navbar__item" href="#nav2">
                        <i class="iconfont icon-On-icon-1"></i>

                        <span>习惯</span>
                    </a>
                    <a class="weui-navbar__item" href="#nav3">
                        <i class="iconfont icon-On-icon-"></i>
                        <span>锻炼</span>
                    </a>
                    <a class="weui-navbar__item" href="#nav4">
                        <i class="iconfont icon-On-icon-3"></i>
                        <span>兴趣</span>
                    </a>
                </div>
                <div class="weui-tab__bd">
                        <!--热门页面-->
                        <div id="nav1" class="weui-tab__bd-item weui-tab__bd-item--active">
                            <div class="container">
                                <div class="row row-eq-height">
                                <!--
                                    <div class="col-xs-6 activity_typeactivity_type comingSoon" data-link="#" data-sat="">
                                        <div class="nav-card" style="background-image: url(/static/images/read/read_activity_bar@2x.png);">
                                            <div>
                                                <img src="/static/images/sleep_activity_bar.jpg" style="visibility: hidden;width: 100%">
                                            </div>
                                        </div>
                                        <div class="card-progress">
                                            <div class="card-name">读书</div>
                                            <div class="card-tag">
                                                <span>预计4月21号上线</span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-xs-6 activity" id="aprilFool_1" data-link="/foolsday/go" style="display: none">
                                        <div class="nav-card" href="#"
                                         style="background-image: url(/static/images/index/aprilFool@2x.png);">
                                            <div>
                                                <img src="/static/images/sleep_activity_bar.jpg" style="visibility: hidden;width: 100%">
                                            </div>
                                        </div>

                                        <div class="card-progress">
                                            <div class="card-name">愚人节</div>
                                            <div class="card-tag">
                                                <span>欢迎参加！</span>
                                            </div>
                                        </div>
                                        <img src="/static/images/index/specific@2x.png" style="width: 60px;position: absolute;right: -3px;bottom: 37px;">
                                    </div>
                                    -->

                                    {% for app in activities %}
                                    <div class="col-xs-6 {% if app.is_no_start or user_id == 100259 or user_id == 100274 or user_id == 100267 or user_id == 100192 %}
                                    activity {% else %} comingSoon
                                    {% endif %}

                                    {% if app.activity_type == "0" %}
                                         activity_type_0
                                     {% elif app.activity_type == "1" %}
                                         activity_type_1
                                     {% elif app.activity_type == "2" %}
                                         activity_type_2
                                     {% else %}
                                         activity_type__
                                    {% endif %}"
                                            {% if app.is_no_start or user_id == 100259 or user_id == 100274 or user_id == 100267 or user_id == 100192 %} data-link="{{ app.activity_id|cut:'-' }}" data-sat=""{% else %}{% endif %}>
                                        {% if app.activity_type == "0" %}
                                        <div class="nav-card"
                                         style="background-image: url(/static/images/sleep_activity_bar.jpg);">
                                        {% elif app.activity_type == "1" %}
                                        <div class="nav-card"
                                         style="background-image: url(/static/images/run_activity_bar.jpg);">
                                        {% else %}
                                        <div class="nav-card"
                                         style="background-image: url(/static/images/read/read_activity_bar@2x.png);">
                                        {% endif %}
                                            <div>
                                                <img src="/static/images/sleep_activity_bar.jpg" style="visibility: hidden;width: 100%">
                                            </div>
                                        </div>
                                        <div class="card-progress">
                                            <div class="card-name">{{ app.description }}</div>
                                            <div class="card-tag">
                                                {% if app.is_no_start %}
                                                    <span><span class="span-text">{{ app.active_participants }}</span> 人参与  </span>
                                                    {% if app.activity_type == "2" %}
                                                        <!--
                                                    |<span>累计节省 <span class="span-text">{{ app.bonus_all|floatformat:"0" }}</span> 元</span>
                                                    -->
                                                    {% else %}
                                                    <span>| 奖金池 <span class="span-text">{{ app.bonus_all|floatformat:"0" }}</span> 元</span>
                                                    {% endif %}
                                                {% else %}
                                                    <span>即将上线</span>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                    {% endfor %}



                                </div>
                            </div>
                        </div>
                        <!--习惯页面-->
                        <div id="nav2" class="weui-tab__bd-item">
                            <div class="container">
                                <div class="row row-eq-height">
                                    {% for app in activities %}

                                    <!-- 显示作息活动 -->
                                        {% if app.activity_type != "1" %}
                                        <div class="col-xs-6 {% if app.is_no_start %}activity {% else %} comingSoon{% endif %}" {% if app.is_no_start %} data-link="{{ app.activity_id|cut:'-' }}" data-sat=""{% else %}{% endif %} >
                                            {% if app.activity_type == "0" %}
                                                <div class="nav-card" href="#"
                                                     style="background-image: url(/static/images/sleep_activity_bar.jpg);">
                                            {% elif app.activity_type == "2" %}
                                                <div class="nav-card" href="#"
                                                     style="background-image: url(/static/images/read/read_activity_bar@2x.png);">
                                            {% endif %}
                                                    <div>
                                                        <img src="/static/images/sleep_activity_bar.jpg" style="visibility: hidden;width: 100%">
                                                    </div>
                                                </div>

                                            <div class="card-progress">
                                                <div class="card-name">{{ app.description }}</div>
                                                <div class="card-tag">
                                                    {% if app.is_no_start %}
                                                        <span><span class="span-text">{{ app.active_participants }}</span> 人参与  |</span>
                                                        {% if app.activity_type == "2" %}
                                                        <span>累计节省 <span class="span-text">{{ app.bonus_all|floatformat:"0" }}</span> 元</span>
                                                        {% else %}
                                                        <span>奖金池 <span class="span-text">{{ app.bonus_all|floatformat:"0" }}</span> 元</span>
                                                        {% endif %}
                                                    {% else %}
                                                        <span>即将上线</span>
                                                    {% endif %}

                                                </div>
                                            </div>

                                        </div>
                                        {% endif %}
                                    {% endfor %}


                                    <div class="col-xs-6 activity comingSoon" data-link="#">
                                        <div class="nav-card" href="#"
                                         style="background-image: url(/static/images/everyday_activity_bar.png);">
                                            <div>
                                                <img src="/static/images/sleep_activity_bar.jpg" style="visibility: hidden;width: 100%">
                                            </div>
                                        </div>

                                        <div class="card-progress">
                                            <div class="card-name">每日一语录</div>
                                            <div class="card-tag">
                                                <span>即将上线</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-6 activity comingSoon" data-link="#">
                                        <div class="nav-card" href="#"
                                         style="background-image: url(/static/images/online_reading_activity_bar.jpg);">
                                            <div>
                                                <img src="/static/images/sleep_activity_bar.jpg" style="visibility: hidden;width: 100%">
                                            </div>
                                        </div>

                                        <div class="card-progress">
                                            <div class="card-name">在线阅读</div>
                                            <div class="card-tag">
                                                <span>待定</span>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <!--锻炼页面-->
                        <div id="nav3" class="weui-tab__bd-item">
                            <div class="container">
                                <div class="row row-eq-height">

                                    {% for app in activities %}
                                    <!-- 显示跑步活动 -->
                                        {% if app.activity_type == "1" %}
                                        <div class="col-xs-6 activity" data-link="{{ app.activity_id|cut:'-' }}">
                                            <div class="nav-card" href="#"
                                                 style="background-image: url(/static/images/run_activity_bar.jpg);">
                                                <div>
                                                    <img src="/static/images/sleep_activity_bar.jpg" style="visibility: hidden;width: 100%">
                                                </div>
                                            </div>

                                            <div class="card-progress">
                                                <div class="card-name">{{ app.description }}</div>
                                                <div class="card-tag">
                                                    {% if app.is_no_start %}
                                                        <span><span class="span-text">{{ app.active_participants }}</span> 人参与  |</span>
                                                        {% if app.activity_type == "2" %}
                                                        <span>累计节省 <span class="span-text">{{ app.bonus_all|floatformat:"0" }}</span> 元</span>
                                                        {% else %}
                                                        <span>奖金池 <span class="span-text">{{ app.bonus_all|floatformat:"0" }}</span> 元</span>
                                                        {% endif %}
                                                    {% else %}
                                                        <span>即将上线</span>
                                                    {% endif %}

                                                </div>
                                            </div>
                                        </div>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <!--兴趣页面-->
                        <div id="nav4" class="weui-tab__bd-item">
                            <div class="container">
                                <div class="row row-eq-height">
                                    <!-- 显示英语口语活动 -->
                                    <div class="col-xs-6 activity comingSoon" data-link="#">
                                        <div class="nav-card" href="#" style="background-image: url(/static/images/english_activity_bar.png);">
                                            <div>
                                                <img src="/static/images/sleep_activity_bar.jpg" style="visibility: hidden;width: 100%">
                                            </div>
                                        </div>
                                        <div class="card-progress">
                                            <div class="card-name">英语(口语)</div>
                                            <div class="card-tag">
                                                <span>即将上线</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-6 activity comingSoon" data-link="#">
                                        <div class="nav-card" href="#"
                                             style="background-image: url(/static/images/shufa_activity_bar.png);">
                                            <div>
                                                <img src="/static/images/sleep_activity_bar.jpg" style="visibility: hidden;width: 100%">
                                            </div>
                                        </div>
                                        <div class="card-progress">
                                            <div class="card-name">练字</div>
                                            <div class="card-tag">
                                                <span>即将上线</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-6 activity comingSoon" data-link="#">
                                        <div class="nav-card" href="#"
                                             style="background-image: url(/static/images/qiqiu_activity_bar.png);">
                                            <div>
                                                <img src="/static/images/everyday_activity_bar.png" style="visibility: hidden;width: 100%">
                                            </div>
                                        </div>

                                        <div class="card-progress">
                                            <div class="card-name">气球</div>
                                            <div class="card-tag">
                                                <span>即将上线</span>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>


    <!--导航栏, 使用微信风格-->
        <div class="weui-tabbar">
            <!-- 微众活动-->
            <a href="/activity/index" class="weui-tabbar__item weui-bar__item--on">
                <div class="weui-tabbar__icon">
                    <i class="iconfont icon-huodongzhongxin iconfont_on"></i>
                </div>
                <p class="weui-tabbar__label">微众活动</p>
            </a>
            <!-- 我的目标-->
            <a href="/goal/index"  class="weui-tabbar__item">
                <div class="weui-tabbar__icon">
                    <i class="iconfont icon-mubiao"></i>
                </div>
                <p class="weui-tabbar__label">我的目标</p>
            </a>

            <!-- 个人中心-->
            <a href="/user/index" class="weui-tabbar__item">
                <div class="weui-tabbar__icon">
                    <i class="iconfont icon-user"></i>
                </div>
                <p class="weui-tabbar__label">个人中心</p>
            </a>
        </div>


        <div class="hide_content">
            <div class="mask_on" style="display: none"></div>
            <div class="mask_on_1" style="display: none"></div>
            <div class="mask_on__1" style=""></div>

            {% if times == 0 %}
                <div class="prompt_read">
                    <img src="/static/images/read/prompt_read_index_1@2x.png" style="width: 50%;">
                </div>
            {% endif %}
        </div>

    <script type="text/javascript" src="/static/js/jquery-2.1.4.js"></script>
    <script type="text/javascript" src="/static/js/jquery-weui-2.1.4.js"></script>
    <script type="text/javascript" src="/static/js/fastclick.js"></script>
    <script type="text/javascript" src="/static/js/public.js"></script>

    <script>
        // fast click binding
        $(function () {
            FastClick.attach(document.body);
        });
        $("iframe").detach();
    </script>



    <script>

        {% if times == 0 %}
            $("body").addClass("overflow_hidden");
            $(".mask_on").show();
            $(".prompt_read").show();
            $(".activity_type_2").css("zIndex",1002);
            $(".activity_type_2").addClass('bg_white');
            $(".activity_type_2").css("borderRadius","15px");
            var H_swiper=$(".swiper-container").height();
            var H_navbar=$(".weui-navbar").height();
            var H_activity_type_2=$(".activity_type_2").height();
            //console.log(H_swiper);
            var prompt_read_top=H_swiper+H_navbar+H_activity_type_2;
            $(".prompt_read").css("top",prompt_read_top);


            /*

            //获取日期
            var date_=getNowFormatDate();
            function getNowFormatDate() {
                var date = new Date();
                var month = String(date.getMonth() + 1);
                var strDate = String(date.getDate());
                strDate =(strDate<10 ? "0"+strDate:strDate);
                var currentdate = month+strDate;
                currentdate=Number(currentdate);
                console.log("currentdate");
                console.log(currentdate);
                if(currentdate > 420 ){
                    return true
                }else{
                    return false
                }
            }
            console.log(date_);
            if(date_){

                //$(".activity_typeactivity_type").hide();

            }else{
                //$(".activity_typeactivity_type").show()
            }

            */
        {% else %}

        {% endif %}

    </script>

{#    <script type="text/javascript" src="/static/js/bootstrap.min.js"></script>#}
{#    <script type="text/javascript" src="/static/js/material.min.js"></script>#}
    <script type="text/javascript" src="/static/js/index.js"></script>
    <script type='text/javascript' src='/static/js/swiper.min.js' charset='utf-8'></script>

    <script>
        var swiper = new Swiper('.swiper-container', {
            pagination: '.swiper-pagination',
            paginationClickable: true,
            loop: true,
            autoplay: 3000,
            teredSlides: true,
            nextButton: '.swiper-button-next',
            prevButton: '.swiper-button-prev',
            autoplayDisableOnInteraction: false
        });
        $(document).ready(function () {
            $(".activity").click(function () {
                console.log($(this).data('link'));
                var link=$(this).data('link');
                window.location.href = $(this).data('link');
                return
                if(link=="fac28454e818458f86639e7d40554597"){
                    //读书
                    window.location.href = '/goal/reading?reading_type='+link
                }else if(link=="a5a0206fb2aa4e8995263c7ab0afa1b5"){
                    //作息
                    window.location.href = $(this).data('link');
                }else if(link=='32f2a8dbe89d43c7b9ecfea19947b057'){
                    window.location.href = $(this).data('link');
                }
                //window.location.href = $(this).data('link');
                //window.location.href="32f2a8db-e89d-43c7-b9ec-fea19947b057"
            });
        });
        $(".swiper-slide").click(function () {
           window.location.href = $(this).data('link');
        });
        $('.comingSoon').on('click', function () {
            //$.toast('敬请期待', 'cancel');
            //$.toast('敬请期待', 'cancel');
            //$(".weui-toast--forbidden .weui-icon_toast").addClass("weui-icon-info weui-icon_msg");
            //$(".weui-toast--forbidden .weui-icon-info").removeClass("weui-icon_toast");
            $.toast("敬请期待", "forbidden", function() {
              //do something
            });
            //weui-icon-warn weui-icon_toast

        });
        
        $(".mask_on").click(function () {
            $(this).hide();
            $(".prompt_read").hide();
            prompt_init_1()
        })
        function prompt_init_1() {
            console.log("prompt_init_1");
            $.ajax({
                type: "POST",
                url: "/api/in_homepage",
                data:{},
                success: function (res) {
                    console.log(res);
                    $.hideLoading();
                    //console.log(res.winner.toString(0));
                },
                error:function(res){
                    $.hideLoading();
                }
            })
        }

    </script>

<!--
    <script>

    {% if fools == 1 %}
        {% if join == 1 %}
            $("#aprilFool_1").attr("data-link","/foolsday/rank");
        {% else %}
            $("#aprilFool_1").attr("data-link","/foolsday/go");
        {% endif %}
        //获取日期
        var date_=getNowFormatDate();
        function getNowFormatDate() {
            var date = new Date();
            var month = String(date.getMonth() + 1);
            var strDate = String(date.getDate());
            var currentdate = month+"-"+strDate;
            if(currentdate=="4-1" ){
                return true
            }else{
                return false
            }
        }
        console.log(date_);
        if(date_){
            console.log("是4月1号");
            $("#aprilFool_1").show();
        }else{
            console.log("不是4月1号");
            $("#aprilFool_1").attr("data-link","#");
            $("#aprilFool_2").hide();
        }
    {% else %}

    {% endif %}

    </script>

    -->

</body>

</html>