<!DOCTYPE html>
<html lang="zh-cmn-Hans">

<head>
    <meta charset="UTF-8">
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=2.0 minimum-scale=0.5, user-scalable=no" />
    <meta name="screen-orientation" content="portrait">
    <meta name="x5-orientation" content="portrait">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>{{ readinginfo.activity_title|default:"读书" }}</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/static/css/weui.min.css"/>
    <link rel="stylesheet" href="/static/css/material.min.css">
    <link rel="stylesheet" href="/static/css/jquery-weui.min.css">
    <link rel="stylesheet" href="/static/css/share.css"/>
    <link rel="stylesheet" href="/static/css/activity.css"/>
    <link rel="stylesheet" href="/static/css/reading.css"/>
    <link rel="stylesheet" href="/static/css/public.css">
    <link rel="stylesheet" href="//at.alicdn.com/t/font_591099_7lgqsc75gbiysyvi.css"/>
    <style>
        .weui-btn::after{
            border: none;
        }
        .image-header {
            background: url(/static/images/read/reading_bar@2x.png) no-repeat;
            background-size: 100%  100%;
        }
        .header-mask{
            background-color: rgba(0,0,0,0.4);
        }
        p{
            margin: 0;
        }
        .mask_on{
            position: fixed;
            z-index: 1000;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            background: rgba(0,0,0,.6);
        }

        .mask_on_1,.mask_on_2{
            position: fixed;
            z-index: 1000;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            background: rgba(0,0,0,.6);
        }
        .mask_on__1{
            position: fixed;
            z-index: 99999;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            background: rgba(0,0,0,.0);
        }
        .activityDescription_box,.detailed_box_text,.qqGroupCode_box{
            position: fixed;
            z-index: 5000;
            width: 80%;
            max-width: 300px;
            max-height: 80%;
            top: 50%;
            left: 50%;
            -webkit-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);
            background-color: #fff;
            text-align: left;
            padding: 25px;
            font-size: 10px;
            border-radius: 10px;
            color:rgba(0,0,0,0.5)
        }

        .qqGroupCode_box{
            overflow: hidden;
        }
        .detailed_box_text{
            overflow: hidden;
            width: 90%;
        }
        .activityDescription_box{
            overflow: hidden;
            padding:0;
            width: 90%;
        }
        .activityDescription_box .content_box{
            overflow-y: scroll;
            height: initial;
            width: 100%;
            padding: 25px;
        }

        .prompt_read_join_1{
            position: fixed;
            z-index: 5000;
            width: 80%;
            max-width: 300px;
            max-height: 80%;
            top: 50%;
            left: 50%;
            -webkit-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);
            text-align: left;
            padding: 25px;
            font-size: 10px;
            border-radius: 10px;
            color:rgba(0,0,0,0.5)
        }

    </style>
    <style>
        .setting-list{
            padding-top: 10px;
            margin-top: 0;
        }
        .reading-book{
            overflow: hidden;
        }
        .end_read {
            transform:rotate(45deg);
            -ms-transform:rotate(45deg); 	/* IE 9 */
            -moz-transform:rotate(45deg); 	/* Firefox */
            -webkit-transform:rotate(45deg); /* Safari 和 Chrome */
            -o-transform:rotate(45deg); 	/* Opera */
            position: absolute;
            height: 25px;
            right: -30px;
            top: 15px;
        }
    </style>
</head>

<body ontouchstart>
<!--页面上方的活动信息栏-->
    <div class="image-header mdl-card mdl-shadow--2dp">
{#        <div class="header-title">#}
{#            {{ readinginfo.activity_title }}#}
{#        </div>#}
        <div class="header-mask"></div>
        <div class="header-desc mdl-card__supporting-text">
            <!--读书页首-->
            <div class="row-center between" style="">
                <div class="coloum-space" style="width: 30%;">
                    <div class="header_avatar-text">
                        {{ app.active_participants|default:'5' }}人参与
                    </div>

                    <div class="header__avatars">
                        {% for person in persons %}
                        <img class="img-circle" src="{{ person.headimgurl }}">
                        {% endfor %}

                        <img class="img-circle" src="/static/fake/running_1.jpg">
                        <img class="img-circle" src="/static/fake/running_2.jpg">
                        <img class="img-circle" src="/static/fake/running_3.jpg">
                        <img class="img-circle" src="/static/fake/running_4.jpg">
                        <img class="img-circle" src="/static/fake/running_5.jpg">
                    <!--
                        -->
                    </div>
                <!--
                    -->
                </div>
                <div class="coloum-space" style="position: absolute;left: 50%;transform: translate(-50%,0%);opacity: 0">
                    <p style="font-size: 18px;font-weight:500;color: #ffffff;margin-bottom: 0px;">{{ readinginfo.times }}</p>
                </div>

                <div class="coloum-space" style="opacity: 0">
                    <div class="header_avatar-text">保证金</div>
                    <div class="header__text">
{#                        <span style="color: #ff931f; font-weight: 500;">{{ app.bonus_all|default:"0"  }}</span>#}
                        <span style="color: #ff931f; font-weight: 500;">{{ readinginfo.guaranty|default:0 }}</span>

                        <span>元</span>
                    </div>
                </div>
             <!--
            -->
            </div>
        </div>

        <div id="qqGroupCode" style="position: absolute;right:20px;top: 20px;width: 30px;">
           <img src="/static/images/user/share@2x.png" style="width: 100%;">
        </div>
        <!-- 左上角的后退按钮 -->
        <!--
        <div class="mdl-card__menu">
            <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect" id="backup-btn">
                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
                         width="36px" height="36px" viewBox="0 0 36 36" enable-background="new 0 0 36 36" xml:space="preserve">
                    <g>
                        <path d="M24.001,33.52c-0.539,0-1.076-0.217-1.471-0.644l-12-13c-0.707-0.766-0.707-1.947,0-2.713l12-13
                            c0.749-0.811,2.014-0.862,2.826-0.113c0.812,0.75,0.862,2.015,0.113,2.826L14.722,18.52L25.47,30.163
                            c0.749,0.812,0.698,2.077-0.113,2.826C24.972,33.344,24.485,33.52,24.001,33.52z"/>
                    </g>
                    </svg>
            </button>
        </div>
        -->
    </div>
    <div class="block-panel" style="overflow: initial;">
        <ul class="setting-list">
            <li class="setting-item">
                <div class="prompt_read_join_2" style="position: absolute;top: -70px;width: 50%;opacity: 0;left: 20%;">
                    <img src="/static/images/read/prompt_read_join_2@2x.png" style="width: 100%;">
                </div>
                <div class="reading-book" style="position: relative;margin-left: 0;margin-right: 1rem">
                    <img id="readinggoal_image" src="{{ readinginfo.imageurl }}" style="width: 80%;display: block;margin: auto;margin-right: 0;">

                    <div  class="end_read" style="">
                        <img src="/static/images/read/end_read@2x.png" style="height: 100%">
                    </div>
                </div>
                <div class="setting-item__right position-right coloum-space between">
                    <div class="row-center between" >
                        <span style="font-size: 16px;font-weight: bold;" id="book-name">{{ readinginfo.title }}</span>
                        <a style="color: #1fa2ff;display: none;" id="more-intro">更多</a>
                    </div>

                    <div class="row-center between" >
                       <p style="color: #1fa2ff">
                           <span style="">{{ readinginfo.book_type }} | 作者 ：</span>
                           <span id="">{{ readinginfo.author }}</span>
                       </p>
                    </div>
                    <div class="row-center between" style="display: none;" >
                       <p>
                           <span style="">出版时间：</span>
                           <span id="">2010-9-1</span>
                       </p>
                    </div>
                    <div class="row-center between" >
                       <p>
                           <span style="">页数：</span>
                           <span id="page-value">{{ readinginfo.page_num }}</span>
                           <span>页</span>
                       </p>
                    </div>
                    <div class="row-center between" >
                        <p>
                            <span style="">价格：</span>
                            {% if readinginfo.price == 0 %}
                                <span class="font_orange_2">免费</span>
                            {% else %}
                                <span>{{ readinginfo.price }}元</span>
                            {% endif %}

                        </p>
                    </div>
                    <div class="row-center between" >
                        <p>
                            <span style="">建议阅读天数：</span>
                            <span>{{ readinginfo.suggest_day }} 天</span>
                        </p>
                    </div>
                    <div class="reading-book__tail" style="display: none;"></div>
                </div>
            </li>
            <div class="explain-desc">
                <p class="p_wrap clamp_3" style="padding:0 30px">
                    &#12288;&#12288;简介：{{ readinginfo.intro }}
                </p>
            </div>

        </ul>

    </div>
    <div class="block-panel" style="margin-top: 10px;">
        <ul class="setting-list" style="margin-top:0;">
            <li class="setting-item row-center center" style="padding-right: 0;padding-bottom:0;margin-top: 0px;">
                <div class="coloum-space center pay-icon">
                    <p class="panel__title">保证金</p>
                    <div class="row-center center" style="width: 100%;">
                        <div style="display: none">
                            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                 width="20px" height="30px" viewBox="0 0 595.28 841.89" enable-background="new 0 0 595.28 841.89" xml:space="preserve">
                            <g>
                                <path fill="#B6C1C8" d="M577.808,240.248c0-78.204-140.99-120.41-273.649-120.41c-131.89,0-272.006,41.719-273.635,119.049l-0.016-0.008v347.148
                                    l0.067,0.025c3.382,76.381,142.543,117.563,273.585,117.563c131.044,0,270.211-41.184,273.582-117.569l0.07-0.019V240.597h-0.006
                                    C577.805,240.483,577.808,240.365,577.808,240.248L577.808,240.248z M64.833,423.921c45.421,36.755,133.118,60.578,239.323,60.578
                                    c106.202,0,193.9-23.822,239.326-60.573v59.758c-11.494,38.498-106.559,78.299-239.326,78.299
                                    c-132.795,0-227.869-39.818-239.323-78.327V423.921z M543.486,371.861c-11.497,38.498-106.564,78.302-239.326,78.302
                                    c-132.798,0-227.869-39.823-239.326-78.33v-70.869c49.895,39.088,146.641,59.693,239.326,59.693
                                    c92.682,0,189.429-20.602,239.326-59.693V371.861z M304.156,154.18c138.193,0,241.458,45.441,241.458,86.068
                                    c0,40.628-103.266,86.069-241.458,86.069S62.701,280.876,62.701,240.248C62.701,199.621,165.967,154.18,304.156,154.18
                                    L304.156,154.18z M304.156,669.276c-126.632,0-223.929-38.153-239.323-75.799v-57.736c45.421,36.756,133.118,60.581,239.323,60.581
                                    c106.202,0,193.9-23.822,239.326-60.576v57.728C528.089,631.123,430.791,669.276,304.156,669.276L304.156,669.276z
                                     M304.156,669.276"/>
                            </g>
                            </svg>
                        </div>
                        <div>
                            <span class="panel__target-text" style="color: #1fa2ff;">{{ readinginfo.guaranty }}</span>
                            <span class="panel__target-text__side">元</span>
                        </div>
                    </div>
                </div>
                <div class="coloum-space center pay-icon">
                    <p class="panel__title">最高返还</p>
                    <div class="row-center center"  style="width: 100%;">
                        <div style="display: none">
                            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                width="20px" height="30px" viewBox="0 0 595.28 841.89" enable-background="new 0 0 595.28 841.89" xml:space="preserve">
                            <g>
                                <path fill="#B6C1C8" d="M577.808,240.248c0-78.204-140.99-120.41-273.649-120.41c-131.89,0-272.006,41.719-273.635,119.049l-0.016-0.008v347.148
                                    l0.067,0.025c3.382,76.381,142.543,117.563,273.585,117.563c131.044,0,270.211-41.184,273.582-117.569l0.07-0.019V240.597h-0.006
                                    C577.805,240.483,577.808,240.365,577.808,240.248L577.808,240.248z M64.833,423.921c45.421,36.755,133.118,60.578,239.323,60.578
                                    c106.202,0,193.9-23.822,239.326-60.573v59.758c-11.494,38.498-106.559,78.299-239.326,78.299
                                    c-132.795,0-227.869-39.818-239.323-78.327V423.921z M543.486,371.861c-11.497,38.498-106.564,78.302-239.326,78.302
                                    c-132.798,0-227.869-39.823-239.326-78.33v-70.869c49.895,39.088,146.641,59.693,239.326,59.693
                                    c92.682,0,189.429-20.602,239.326-59.693V371.861z M304.156,154.18c138.193,0,241.458,45.441,241.458,86.068
                                    c0,40.628-103.266,86.069-241.458,86.069S62.701,280.876,62.701,240.248C62.701,199.621,165.967,154.18,304.156,154.18
                                    L304.156,154.18z M304.156,669.276c-126.632,0-223.929-38.153-239.323-75.799v-57.736c45.421,36.756,133.118,60.581,239.323,60.581
                                    c106.202,0,193.9-23.822,239.326-60.576v57.728C528.089,631.123,430.791,669.276,304.156,669.276L304.156,669.276z
                                     M304.156,669.276"/>
                            </g>
                            </svg>
                        </div>
                        <div>
                            <span class="panel__target-text font_orange_2">100%</span>
                            <span class="panel__target-text font_orange_2" style="display: none" id="maxreturn-pay">{{ readinginfo.return }}</span>
{#                            <span class="panel__target-text" style="color: #ff931f;" id="maxreturn-pay">{{ readinginfo.return }}</span>#}
{#                            <span class="panel__target-text__side">元</span>#}
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>

<!-- 明细规则-->
        <div class="block-panel" style="height: 40px;line-height: 40px;">
            <div class="weui-flex content_box">
                <div class="weui-flex__item detailed_box">
                    <div class="detailed_box_div" style="">
                        <p style="color: #1fa2ff;height: 40px;line-height: 40px;text-align: center;">
                            <span style=""><i class="iconfont icon-shourumingxi" style="font-size: 0.8rem;"></i> </span>
                            <span style="">明细</span>
                            <span id=""><i class="iconfont icon-dazhuanhuan-" style="font-size: 0.8rem;"></i></span>
                        </p>

                    </div>

                </div>
                <div class="weui-flex__item rule_box">
                    <div class="rule_box_div" style="">
                        <p style="color: #1fa2ff;height: 40px;line-height: 40px;text-align: center;">
                            <span style=""><i class="iconfont icon-xinxishuoming"  style="font-size: 0.8rem;"></i></span>
                            <span id="">规则说明</span>
                            <span id=""><i class="iconfont icon-dazhuanhuan-" style="font-size: 0.8rem;"></i></span>
                        </p>

                    </div>

                </div>
            </div>
        </div>

        <div style="height: 100px;width: 100%;opacity: 0;background-color: white">

        </div>


    <div class="hide_content">

        <div class="mask_on" style="display: none"></div>
        <div class="mask_on__1" style=""></div>

    {% if times == 0 %}
        <div class="mask_on_1" style="display: none"></div>
        <div class="mask_on_2" style="display: none"></div>
        <div class="prompt_read_join_1">
            <img src="/static/images/read/prompt_read_join_1@2x.png" style="width: 100%;">
        </div>
    {% else %}

    {% endif %}



        <div class="activityDescription_box" style="display: none">
            <div class="content_box">
                <h4 style="text-align: center;margin: 5px auto 10px;">#阅读说明#</h4>
                <div>
                    <p><b>活动概况：</b></p>
                    <p>在“读书”活动中，平台每期仅提供一本精选读物。用户需要在一个月内完成阅读，平台将根据用户阅读记录情况返还押金。</p></br>
                    <p><b>参与方式：</b></p>
                    <p>
                        1. 支付后即生成目标<br>
                        2.生成目标后，在我的订单填写邮寄信息<br>
                        3.每日18:00发货（假期除外）<br>
                    </p>
                    <img src="/static/images/read/read_1.png" style="width: 100%">
                    <img src="/static/images/read/read_2.png" style="width: 100%">
                    <p>（偏远地区产生的额外费用将于活动结束后，从保证金中扣除，平台发货前通知予以确认。）</p>
                    <p>
                        <b>记录规则：</b>
                    1.用户在订单页面确认收货即可激活阅读记录；<br/>
                    2.在我的目标->读书活动中进行记录，每次记录都将根据用户阅读情况返还部分押金。直到记录至最后一页，可结算返还押金（或非全额返还）至余额。（为避免部分用户浪费平台资源，在完成阅读后，并未返还部分将纳入活动补偿）<br/>
                    3.用户需要在30日内完成阅读记录，或将默认直接结算。<br/>
                    关于返还押金规则，除不可抗力因素，在正常情况下将不受理。<br/><br/>
                    ※本平台拥有所有活动的最终解释权，如有疑问请与客服联系，谢谢。<br/>
                    </p>

                </div>

                <p style="display: none;">
                    &#12288;&#12288;在“购书阅读”活动中，用户需要在一个月内完成一本在平台上购买的书的阅读，用户在通过记录阅读情况的过程赚取返还金。（此项活动中的保证金将不会被瓜分，平台已将此费用纳入最高返还金额预算内）。<br/>
                    1. 生成目标后，用户需要在商城中“我的订单”页面内填写邮寄信息（若未填写），完成後书将在1至3个工作日内送至用户手中，偏远地区产生的额外费用将于活动结束后，从保证金中扣除，平台发货前通知予以确认。（若未送至请联系客服）<br/>
                    2. 在此活动中平台每期仅提供一本畅销读物，平台每隔一段时间（每一至三周，取决于此活动参与人数）则会更换一本新书。在活动进行的过程中即使更新，也不会影响当前已生成的目标进行。<br/>
                    3. 用户需要在一个月（30日，从用户收到书本开始计算）内完成此书的阅读记录，完成所有页码的阅读后直接视为活动结束。（在书未到前开始记录，将自行负责）<br/>
                    4. 记录规则：<br/>
                    4.1 开始阅读：用户在开始阅读前点击“开始阅读”按钮，开始记录；<br/>
                    4.2 结束阅读：用户在结束阅读后输入阅读至的页码后点击“结束阅读”，结束记录。<br/>
                    5. 每次记录都将根据用户阅读情况返还一定金额。<br/>
                    6. 押金=保证金 （仅限该活动）：<br/>
                    6.1 保证金：在活动中未完成则扣除活动中所提交的全额保证金（此项保证金将不会瓜分给其他用户，平台以将此费用纳入最高返还金额预算内）；<br/>
                    6.2 在押金为0的情况下视为活动结束（即30日过后）。<br/>
                    6.3 输入尾页后视为活动结束，并结算累计的返还金至余额。<br/>
                    7. “购书阅读”活动的每日结算时段为当日23:59，如用户对活动有疑问及争议的户可在每日22:00前联系客服，如有需要用户应被扣除的押金部分将暂时冻结以待解决。（客服只处理因不可抗力因素，如系统问题引起的无法完成的情况。以示公平，在正常情况下将不受理）。<br/>
                    <br/>※本平台拥有所有活动的最终解释权，如有疑问请与客服联系，谢谢。<br/>
                </p>
            </div>
        </div>
        <!-- 押金 -->
        <div class="detailed_box_text"  style="display: none;width: 60%;">
            <p style="text-align: center;font-size: 16px">押金 <a href="https://mp.weixin.qq.com/s/e7LQzUe6DjaN9Zc9rjafFQ" style="color:rgba(31, 162, 255, 0.8);font-size: 12px;">（了解更多）</a></p>
            <div class="detailed_box__1">
                <div class="weui-flex">
                    <div class="weui-flex__item" style="padding-left: 10px;">
                        <p>&#12288;</p>
                        <p style="text-align: center">价&#12288;格</p>
                        <p style="text-align: center">保证金</p>

                    </div>
                    <div class="weui-flex__item">
                        <p  class="font_color_1">&#12288;</p>
                        <p>
                        {% if readinginfo.price == 0 %}
                            <span>免费</span>
                        {% else %}
                            <span>{{ readinginfo.price }}元</span>
                        {% endif %}
                        </p>
                        <p><span class="">{{ readinginfo.guaranty }} </span>元</p>
                    </div>

                </div>
            </div>

        </div>

        <div class="qqGroupCode_box" style="opacity: 0;">
            <div class="container_on_share_run">
                <div class="swiper-container_on_share_run" data-space-between='10' data-pagination='.swiper-pagination' data-autoplay="1000">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <img src="/static/images/on_share/on_share_read_1.jpg" class="fadeInLeft_1" style="width: 100%;" >
                        </div>

                    </div>
                </div>
{#                <img src="/static/images/on_share/on_share_run_1.jpg" class="hide fadeInLeft_1" style="width: 100%;" >#}
{#                <img src="/static/images/on_share/on_share_run_2_1.jpg" class="fadeInLeft_1" style="width: 100%;" >#}
            </div>
        </div>
    </div>


    <div class="fixed-panel hide">
        <div class="row-center" style="justify-content: space-between;margin-top: 20px;">
            <div class="fixed-text" style="opacity: 0">
                价格:
                <span id="price-value" class="fixed-text__bold" style="color: #565c66;">
                    {{ readinginfo.price }}
                </span>
                元
            </div>
            <div class="fixed-text">
                押金:
                <span style="color: #ff931f;" id="guarantee-value" class="fixed-text__bold reality_price">
                        {{ readinginfo.guaranty }}
                </span>
                元
            </div>
        </div>
        <button class="weui-btn weui-btn_primary" id="gen-btn">
            生成目标
        </button>
    </div>

    <!-- 支付 弹窗 -->
    <div id="gen-popup" class="weui-popup__container popup-bottom">
        <div class="weui-popup__overlay"></div>
        <div class="weui-popup__modal">
            <div class="modal-content">
                <div class="gen-title">
                    <div class="title-line"></div>
                    <span class="title-text">
                            <span style="font-weight: 600;">读书</span>
                        </span>
                </div>


                <div class="weui-cell">
                    <div class="weui-cell__bd">
                        <span class="gen_title">总价</span>
                    </div>
                    <div class="weui-cell__ft" style="margin-right: 20px;">
                                <span id="pay-count"  class="reality_price" style="color: #565c66;font-size: 1.4rem;font-weight: 600;">
                        {{ readinginfo.guaranty |add:readinginfo.price }}
                                </span>
                        元
                    </div>
                </div>

                <div class="weui-cell no-before">
                    <div class="weui-cell__hd">
                        <span class="gen_title">使用余额</span>
                    </div>
                    <div class="weui-cells_checkbox weui-cell__bd">
                        <label class="weui-cell weui-check__label" for="weuiAgree">
                            <div class="weui-cell__bd">
                                <p>{{ balance|default:0 }} 元</p>
                            </div>
                            <div class="weui-cell__hd">
                                <input type="checkbox" id="weuiAgree" class="weui-check" name="checkbox1" checked="checked">
                                <i class="weui-icon-checked"></i>
                            </div>
                      </label>
                    </div>
                </div>

                <div class="weui-cell">
                    <div class="weui-cell__bd">
                    <span class="gen_title">应付</span>
                    </div>
                    <div class="weui-cell__ft" style="margin-right: 20px;">
                        <span id="reality_price" style="color: #565c66;font-size: 1.4rem;font-weight: 600;">
                            {{ readinginfo.guaranty |add:readinginfo.price }}
                        </span>
                        元
                    </div>
                </div>

				<button class="weui-btn weui-btn_primary" id="pay-btn">

                    <i class="iconfont icon-ai-weixin"></i>
					微信支付
				</button>
                <p class="user-agreement__text">进入下一步即代表同意<a  href="/user/userAgreement" class="font_color_1">用户协议</a></p>

            </div>
        </div>
    </div>

    <div id="intro-popup" class="weui-popup__container popup-bottom">
        <div class="weui-popup__overlay"></div>
        <div class="weui-popup__modal">
            <div class="modal-content">
                <p style="color: #B6C1C8;padding-left: 10px;padding-right: 10px;">
                    {{ readinginfo.intro }}
                </p>
            </div>
        </div>
    </div>

    <div id="activity-get__id" hidden>{{ app.activity_id|cut:'-' }}</div>

    <script type="text/javascript" src="/static/js/jquery-2.1.4.js"></script>
    <script type="text/javascript" src="/static/js/jquery-weui-2.1.4.js"></script>
    <script type="text/javascript" src="/static/js/public.js"></script>
	<script type="text/javascript" src="/static/js/fastclick.js"></script>
    <script type='text/javascript' src='/static/js/swiper.min.js' charset='utf-8'></script>
    <script>
        // fast click binding

        $(function () {
            FastClick.attach(document.body);
            $(".mask_on__1").hide();
			$(".qqGroupCode_box").hide();
			$(".qqGroupCode_box").css("opacity","1");
			var activityDescription_box_H=$(".activityDescription_box").height();
			$(".content_box").height(activityDescription_box_H);

            var guaranty='{{ readinginfo.guaranty|floatformat:2 }}';
            var down_payment ='{{ readinginfo.price|floatformat:2 }}'; //底金
            $(".reality_price").text(parseFloat(Number(guaranty)+Number(down_payment)));

        });
        $("iframe").detach();
    </script>
<script>

    {% if times == 0 %}
        function prompt_init_1() {
            console.log("prompt_init_1");
            $.ajax({
                type: "POST",
                url: "/api/in_homepage",
                data:{},
                success: function (res) {
                    console.log(res);
                    $.hideLoading();
                    //console.log(res.winner.toString(0));
                },
                error:function(res){
                    $.hideLoading();
                }
            })
        }

        function prompt_init_2() {
            console.log("prompt_init_2");
            $.ajax({
                type: "POST",
                url: "/api/in_read",
                data:{},
                success: function (res) {
                    console.log(res);
                    $.hideLoading();
                    //console.log(res.winner.toString(0));
                },
                error:function(res){
                    $.hideLoading();
                }
            })
        }
        prompt_init_1();
        $(".mask_on_1").show();
        $(".prompt_read_join_2").hide();

        $(".mask_on_1").click(function () {
            console.log("123");
            $(".mask_on_1").hide();
            $(".mask_on_2").show();
            $(".prompt_read_join_1").hide();

            $(".reading-book").css("zIndex",40000);
            $("#readinggoal_image").css("zIndex",3000);
            $("#readinggoal_image").addClass("bg_white");
            $("#readinggoal_image").css("borderRadius","5px");

            $(".prompt_read_join_2").css("opacity",1);
            $(".prompt_read_join_2").css("zIndex",3000);
            $(".prompt_read_join_2").show();
            var prompt_read_join_2_top=$(".prompt_read_join_2").height();
            $(".prompt_read_join_2").css("top",-prompt_read_join_2_top);
        });

        $(".mask_on_2").click(function () {
            console.log("1233");
            $(".reading-book").css("zIndex",0);
            $("#readinggoal_image").css("zIndex",0);
            $(".prompt_read_join_2").hide();
            $(".mask_on_2").hide();
            prompt_init_2()
        });

    {% else %}

    {% endif %}

</script>

    <script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/js/material.min.js"></script>
    <script type="text/javascript" src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>

    <script>
        $(".swiper-container_on_share_run").swiper({
            loop: true,
            autoplay:true,
        });
    </script>
    <!--配置CSRF保护-->
    <script>
        $.ajaxSetup({
            data: {csrfmiddlewaretoken: '{{ csrf_token }}' }
        });

    <!--注入Config信息-->

        {{ WechatJSConfig|safe}}
        var qrcode_url = "http://wechat.onmytarget.cn/static/images/logo/logo.png";
        //var qrcode_url="http://wechat.onmytarget.cn/static/images/on_logo.jpeg";
        var title="{{ nickname }}  邀请你参加读书活动";
        var share_desc="On蜕变 一个好玩的平台";
        wx.ready(function() {
            //wx.hideAllNonBaseMenuItem();
            //wx.hideOptionMenu();
            wx.showMenuItems({
                menuList: ['onMenuShareAppMessage',
                           'onMenuShareTimeline'] // 要显示的菜单项，所有menu项见附录3
            });

            //分享到朋友圈
            wx.onMenuShareTimeline({
                title:title, // 分享标题
                desc: share_desc,
                link: 'http://wechat.onmytarget.cn/activity/fac28454e818458f86639e7d40554597?usid={{ user_id|default:100259 }}', // 分享链接，该链接域名或路径必须与当前页面对应的公众号JS安全域名一致
                imgUrl:qrcode_url, // 分享图标
                success: function () {
                    $.toast("分享成功");
                    // 用户确认分享后执行的回调函数
                },
                cancel: function () {
                }
             });

            //分享到朋友
            wx.onMenuShareAppMessage({
                title: title, // 分享标题
                desc: share_desc, // 分享描述
                link: 'http://wechat.onmytarget.cn/activity/fac28454e818458f86639e7d40554597?usid={{ user_id|default:100259 }}', // 分享链接
                imgUrl: qrcode_url, // 分享图标
                type: '', // 分享类型,music、video或link，不填默认为link
                dataUrl: '', // 如果type是music或video，则要提供数据链接，默认为空
                success: function () {
                    $.toast("分享成功");
                    // 用户确认分享后执行的回调函数
                },
                cancel: function () {
                }
            });
        })
    </script>
    <script>

        $(".weui-popup__overlay").click(
            function () {
                $("body").removeClass("popup-open");
            }
        );
        /* 跳转页面 */
        $("#backup-btn").click(function () {
            window.location.href = "index";
        });
        $("#gen-btn").click(function(){
            $("#gen-popup").popup();
            $("body").addClass("popup-open");

            var chk = document.getElementById('weuiAgree');
            var balance_price = "{{ balance }}";
            var deserve_price=parseFloat($("#pay-count").html().trim()).toFixed(2);
            var reality_price=deserve_price;

            if (chk.checked) {
                //使用余额
                balance_price = Number(balance_price);
                if(deserve_price > balance_price){
                    reality_price = deserve_price-balance_price;
                }else{
                    reality_price=0.01;
                }

            } else {
                //不使用余额
                reality_price=deserve_price;
            }
            $("#reality_price").text(parseFloat(reality_price).toFixed(2));
        });

        //余额 点击
        $("#weuiAgree").click(function () {
            console.log("点击");
            var chk = document.getElementById('weuiAgree');
            var balance_price = "{{ balance }}";
            var deserve_price=parseFloat($("#pay-count").html().trim()).toFixed(2);
            var reality_price=deserve_price;

            if (chk.checked) {
                //使用余额
                balance_price = Number(balance_price);
                if(deserve_price > balance_price){
                    reality_price = deserve_price-balance_price;
                }else{
                    reality_price=0.01;
                }

            } else {
                //不使用余额
                reality_price=deserve_price;
            }
            $("#reality_price").text(parseFloat(reality_price).toFixed(2));

        });

        wx.ready(function() {
            $("#pay-btn").click(function () {
                //最高返回
                var maxreturn = $("#maxreturn-pay").html().trim();
                //书名
                var bookname = $("#book-name").html().trim();
                //页数
                var goalpage = $("#page-value").html().trim();
                //押金
                var deposit = $("#guarantee-value").html().trim();
                //总价(应付)
                var allpay = $("#pay-count").html().trim();
                //应付金额 （）

                //var price=parseInt($("#guarantee-cash").html());

                //实付金额 （扣除之后）
                //var reality_price=parseFloat($("#reality_price").html());
                var reality_price=parseFloat($("#pay-count").html().trim());


                var deserve_price=parseFloat(reality_price);

                var chk = document.getElementById('weuiAgree');

                var balance_price = "{{ balance }}";
                var rem = 1;
                if (chk.checked) {
                    //使用余额
                    rem = 1;
                    balance_price = parseFloat(Number(balance_price));
                    if(deserve_price > balance_price){
                        reality_price = parseFloat(Number(deserve_price*100-balance_price*100)/100);
                    }else{
                        reality_price=parseFloat(0.01);
                    }
                    //console.log("使用余额");
                } else {
                    //不使用余额
                    rem = 0;
                    reality_price = deserve_price;
                    //console.log("不使用余额");
                }

                console.log(maxreturn);
                console.log(bookname);
                console.log(goalpage);
                console.log(deposit);
                console.log(allpay);
                console.log($("#activity-get__id").html().trim());
                console.log($("#price-value").html().trim());
                console.log($("#readinggoal_image").attr('src'));

                $.post('/api/create_read', {
                    activity: $("#activity-get__id").html().trim(),
                    guaranty: deposit,
                    down_payment: 0,
                    bookname: bookname,
                    goalpage: goalpage,
                    maxreturn: maxreturn,
                    coefficient: 0,
                    mode: "N",
                    goal_day: 30,
                    goal_type: 0,
                    bookprice: $("#price-value").html().trim(),
                    imageurl: $("#readinggoal_image").attr('src'),
                    reality_price:reality_price,
                    deserve_price:deserve_price,
                    rem:rem
                }, function (reponse) {
                    console.log(reponse);
                    //alert("goal");
                    //alert(reponse['goal']);
                    //alert("reality_price");
                    //alert(reality_price);
                    //alert("deserve_price");
                    //alert(deserve_price);
                    //alert("rem");
                    //alert(rem);
                    $.post('/wechatpay', {
                        'goal': reponse['goal'],
                        'reality':reality_price,
                        'deserve':deserve_price,
                        'rem':rem
                    },function (response) {
                        {#$.toast("参与成功！", "success", function () {#}
                        {#    window.location.href = "/goal/share/" + reponse['goal'];#}
                        {# });#}
                        {#return#}
                        // 唤起微信支付接口
                           {% if DEBUG %}
                            // 唤起微信支付接口
                            $.post('/payback', {
                                'goal':reponse['goal']
                            },function (res) {
                                // 重定向到分享页面
                                 $.toast("参与成功！", "success", function () {
                                    window.location.href = "/goal/share/" + reponse['goal'];
                                 });
                                //window.location.href = "/goal/share/" + reponse['goal'];
                            });
                            {% else %}

                            wx.chooseWXPay({
                                timestamp: response['timeStamp'], // 支付签名时间戳，注意微信jssdk中的所有使用timestamp字段均为小写。但最新版的支付后台生成签名使用的timeStamp字段名需大写其中的S字符
                                nonceStr: response['nonceStr'], // 支付签名随机串，不长于 32 位
                                package: response['package'], // 统一支付接口返回的prepay_id参数值，提交格式如：prepay_id=\*\*\*）
                                signType: response['signType'], // 签名方式，默认为'SHA1'，使用新版支付需传入'MD5'
                                paySign: response['paySign'], // 支付签名
                                success: function (res) {
                                    // 重定向到分享页面
                                    window.location.href = "/goal/share/" + reponse['goal'];
                                }
                            });
                           {% endif %}
                    });
                });
            });
        });

        $("#more-intro").click(function () {
            $("#intro-popup").popup();
            $("body").addClass("popup-open");
        });
        $("body").on("click", ".p_wrap", function () {
        //console.log("77777");
        $(this).toggleClass("clamp_3");
    });
    </script>

    <script>
        //添加QQ 群
        $("#qqGroupCode").click(function () {
            $(".qqGroupCode_box").css("opacity","1");
            $(".qqGroupCode_box").show();
            $(".mask_on").show();
            $("body").addClass("popup-open");
        });



        // 活动规则说明 弹窗
        $(".rule_box_div").click(function () {
            $(".activityDescription_box").show();
            $(".mask_on").show();
            $("body").addClass("popup-open");
        });

        //明细弹窗
        $(".detailed_box_div").click(function () {
            $(".detailed_box_text").show();
            $(".mask_on").show();
            $("body").addClass("popup-open");
        });
         //关闭弹窗
        $(".mask_on").click(function () {
            console.log("123");
            $(".activityDescription_box").hide();
            $(".detailed_box_text").hide();
            $(".qqGroupCode_box").hide();
            $(this).hide();
            $("body").removeClass("popup-open");
        });
        $(".mask_on__1").click(function () {
            $(".qqGroupCode_box").hide();
            $(".qqGroupCode_box").css("opacity","1");
            $(this).hide();
            $("body").removeClass("popup-open");
        });
    </script>
</body>

</html>