<!DOCTYPE html>
<html lang="zh-cmn-Hans">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
	<title>On!主页</title>
	<link rel="stylesheet" href="/static/css/weui.min.css" />
	<link rel="stylesheet" href="/static/css/bootstrap.min.css"/>
	<link rel="stylesheet" href="/static/css/share.css"/>
	<link rel="stylesheet" href="/static/css/person.css" />
</head>

<body ontouchstart>
	<!--整个页面-->
	<div class="top-pannel">
		<!--个人中心-->
		<ul class="info-list">
			<!--个人信息-->
			<li class="info-item">
				<!--<div class="row-space" style="padding-left: 5%;padding-right: 5%">
                    <h4>
                        个人信息
                    </h4>
                    <a class="btn btn-danger" id="setting-btn">
                        设置
                    </a>
                </div>-->
				<div class="row-center left user-header__panel">
					<!--
					<img src="{{ user.headimgurl }}" class="img-circle" style="border:1px solid lightgray;width: 30%;">
					</img>
					-->
					<img src="{{ user.headimgurl }}" class="img-circle"
						 style="border:1px solid #efebe9;width: 20%;">
					<div class="user-header__text">
						<div style="font-size:1.2em;font-weight: 600;">{{ user.nickname }}</div>
						<div style="margin-top: 8px;color: #B6C1C8;">账号: {{ user.user_id }}</div>
					</div>
				</div>
			</li>
			<!--个人信息-->
			<li class="info-item">
				<div class="row-space wallet-card">
					<div class="coloum-center">
						<h4>
							我的钱包
						</h4>
						<span class="wallet-card__entry">活动押金 :
							<span class="wallet-card__num">{{ user.deposit }}</span>
						</span>
						<span class="wallet-card__entry">今日收益 :
							<span class="wallet-card__num">{{ user.today_profit }}</span>
						</span>
						<span class="wallet-card__entry">累计收益 :
							<span class="wallet-card__num">{{ user.all_profit }}</span>
						</span>
					</div>
					<div class="coloum-center">
						<a class="cash-link" href="/user/cash">
							提现
						</a>
						<span class="wallet-card__entry">积分 :
							<span class="wallet-card__num">{{ user.points }} </span>
						</span>
						<span class="wallet-card__entry">图币 :
							<span class="wallet-card__num">{{ user.virtual_balance }}</span>
						</span>
						<span class="wallet-card__entry">余额 :
							<span class="wallet-card__num">{{ user.balance }}</span>
						</span>
					</div>
				</div>
			</li>
			<!--个人信息-->
			<li class="info-item">
				<div class="wallet-card">
					<h4 >历史记录</h4>
					<div class="row-space">
						<div class="coloum-center">
							<span class="wallet-card__entry">完成/参与次数:
								<span class="wallet-card__num">{{ record.finish_times }}/{{ record.join_times }}
								</span>
							</span>
							<span class="wallet-card__entry">总系数:
								<span class="wallet-card__num">{{ record.all_coefficient }}</span>
							</span>
						</div>
						<div class="coloum-center">
							<a class="cash-link" href="/user/history" hidden>更多</a>
							<span class="wallet-card__entry">成功率:
								<span class="wallet-card__num">{{ successrate }}%
								</span>
							</span>
							<span class="wallet-card__entry">
								完成天数: <span class="wallet-card__num">{{ record.finish_days }}
							</span>
							</span>
						</div>
					</div>
				</div>
			</li>
		</ul>
		<!--导航栏, 使用微信风格-->
    	<div class="weui-tabbar">
        <a href="/activity/index" class="weui-tabbar__item">
            <div class="weui-tabbar__icon">
                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                     width="56px" height="56px" viewBox="0 0 56 56" enable-background="new 0 0 56 56" xml:space="preserve">
                <g>
                    <path d="M47.991,16.991h-28c-2.209,0-4-1.791-4-4s1.791-4,4-4h28c2.209,0,4,1.791,4,4S50.2,16.991,47.991,16.991z"/>
                </g>
                <g>
                    <path d="M35.991,30.991h-16c-2.209,0-4-1.791-4-4s1.791-4,4-4h16c2.209,0,4,1.791,4,4S38.2,30.991,35.991,30.991z"/>
                </g>
                <g>
                    <path d="M41.991,44.991h-22c-2.209,0-4-1.791-4-4s1.791-4,4-4h22c2.209,0,4,1.791,4,4S44.2,44.991,41.991,44.991z"/>
                </g>
                <circle cx="7.991" cy="12.991" r="4"/>
                <circle cx="7.991" cy="26.991" r="4"/>
                <circle cx="7.991" cy="40.991" r="4"/>
                </svg>
            </div>
            <p class="weui-tabbar__label">微众活动</p>
        </a>
        <a href="/goal/index" class="weui-tabbar__item">
            <div class="weui-tabbar__icon">
                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                     width="56px" height="56px" viewBox="0 0 56 56" enable-background="new 0 0 56 56" xml:space="preserve">
                <g>
                    <path d="M45.117,27.688c-0.463,0.078-1.52,0.416-3.171,1.013c-1.651,0.598-3.212,1.119-4.682,1.563
                        c-1.47,0.444-2.404,0.608-2.8,0.492c-0.264-0.078-0.454-0.28-0.569-0.608c-0.115-0.327-0.19-0.665-0.223-1.013
                        c-0.034-0.348-0.241-0.667-0.62-0.955c-0.379-0.289-0.965-0.433-1.758-0.433c-2.94,0-5.796,0.579-8.571,1.737
                        c-0.033,0.038-0.09,0.067-0.173,0.087c-0.083,0.02-0.157,0.039-0.224,0.057c-0.067,0.019-0.149,0.028-0.247,0.03
                        c-0.098,0.001-0.189-0.018-0.273-0.057c-0.084-0.04-0.166-0.097-0.247-0.174c-0.081-0.076-0.148-0.192-0.198-0.348
                        c-0.051-0.156-0.1-0.349-0.149-0.58c-0.048-0.231-0.073-0.481-0.075-0.752V15.942c0-0.772,0.165-1.456,0.496-2.054
                        c0.331-0.598,0.678-1.012,1.04-1.245l0.496-0.289c0.231-0.154,0.562-0.328,0.991-0.52c0.429-0.193,1.345-0.463,2.749-0.811
                        c1.404-0.348,2.882-0.522,4.435-0.52c0.727,0,1.272,0.135,1.634,0.406c0.363,0.27,0.561,0.579,0.595,0.926
                        c0.034,0.347,0.108,0.685,0.224,1.013c0.115,0.328,0.338,0.531,0.669,0.608c0.463,0.154,1.504,0.029,3.122-0.376
                        c1.618-0.405,3.121-0.858,4.509-1.359l2.082-0.694c0.793-0.232,1.404-0.271,1.833-0.117c0.429,0.154,0.71,0.453,0.842,0.896
                        c0.132,0.443,0.284,1.225,0.284,2.345v10.302c0,0.501-0.111,0.926-0.16,1.274c-0.05,0.348-0.232,0.724-0.545,1.128
                        c-0.314,0.404-0.751,0.683-1.313,0.839L45.117,27.688z M45.117,27.688"/>
                </g>
                <g>
                    <path d="M16,48c-1.657,0-3-1.343-3-3V13c0-1.657,1.343-3,3-3s3,1.343,3,3v32C19,46.657,17.657,48,16,48z"/>
                </g>
                </svg>
            </div>
            <p class="weui-tabbar__label">我的目标</p>
        </a>
        <a href="/user/index" class="weui-tabbar__item weui-bar__item--on">
            <div class="weui-tabbar__icon">
                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                     width="56px" height="56px" viewBox="0 0 56 56" enable-background="new 0 0 56 56" xml:space="preserve">
                <g>
                    <path fill="#050505" d="M27.997,2.986C15.3,2.986,5,13.281,5,25.984c0,12.703,10.3,23.003,22.997,23.003
                        C40.7,48.986,51,38.686,51,25.984C51,13.281,40.704,2.986,27.997,2.986L27.997,2.986z M27.997,9.862
                        c4.203,0,7.611,3.41,7.611,7.607c0,4.203-3.408,7.606-7.611,7.606c-4.198,0-7.602-3.403-7.602-7.606
                        C20.395,13.272,23.8,9.862,27.997,9.862L27.997,9.862z M27.992,42.973c-4.188,0-8.03-1.529-10.99-4.055
                        c-0.72-0.616-1.135-1.514-1.135-2.466c0-4.257,3.449-7.665,7.706-7.665h8.855c4.262,0,7.694,3.408,7.694,7.665
                        c0,0.952-0.414,1.85-1.134,2.466C36.028,41.443,32.185,42.973,27.992,42.973L27.992,42.973z M27.992,42.973"/>
                </g>
                </svg>
            </div>
            <p class="weui-tabbar__label">个人中心</p>
        </a>
    </div>
	</div>
	<script type="text/javascript" src="/static/js/jquery.min.js"></script>
	<script type="text/javascript" src="/static/js/fastclick.js"></script>
	<script>
		// fast click binding
		$(function () {
			FastClick.attach(document.body);
		});
	</script>
	<script type="text/javascript" src="/static/js/jquery-weui.min.js"></script>
	<script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="/static/js/index.js"></script>
	<script type='text/javascript' src='/static/js/swiper.min.js' charset='utf-8'></script>
	<script>
		$(document).ready(function(){
			function resizeInput(){
				$(this).attr('size', $(this).val().length);
			}
			$('input[type="text"]').each(resizeInput);
		});
		$("#usersex").change(function () {
			var val = $(this).val().trim();
			if(!(val === "男" || val === "女")){
				alert("非法输入!");
				$(this).val("男");
			}
		});
		$("#userage").change(function () {
			if(!/^\d+$/.test($(this).val()))
			{
				$(this).val($(this).val().replace(/[^\d]+/g,''));
			}
		});
		$('input[type="text"]').focus(function(){
			$(this).addClass('input-focus');
		});
		$('input[type="text"]').focusout(function(){
			$(this).removeClass('input-focus');
		});
		$("#setting-btn").click(function(){
			var status = $(this).attr("checked");
			if(status !== "checked"){
				$(this).text("保存");
				$(this).attr("checked","checked");
				$('input[type="text"]').removeAttr("disabled");
				$('input[type="text"]').addClass('input-activated');
			}
			else{
				$(this).text("设置");
				$(this).removeAttr("checked");
				$('input[type="text"]').attr("disabled");
				$('input[type="text"]').removeClass('input-activated');
				var sex = $("#usersex").val().trim() === "男"? 1:2;
				//TODO:向后端发送更新信息的请求
				var data = JSON.stringify({
							'wechat_id':$("#useraccount").val().trim(),
							'sex': sex,
							'nickname':$("#username").val().trim(),
							'age':parseInt($("#userage").val().trim())
							});
				$.post('/api/update_user',{"data":data});
			}
		});
	</script>
</body>

</html>