<!DOCTYPE html>
<html lang="zh-cmn-Hans">

<head>
	<meta charset="UTF-8">
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=2.0 minimum-scale=0.5, user-scalable=no" />
    <meta name="screen-orientation" content="portrait">
    <meta name="x5-orientation" content="portrait">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
	<title>个人中心</title>
	<link rel="stylesheet" href="/static/css/weui.min.css" />
	<link rel="stylesheet" href="/static/css/bootstrap.min.css"/>
	<link rel="stylesheet" href="/static/css/share.css"/>
	<link rel="stylesheet" href="/static/css/person.css" />
    <link rel="stylesheet" href="/static/css/jquery-weui.min.css"/>
    <link rel="stylesheet" href="//at.alicdn.com/t/font_591099_obuxdf4g71d1jor.css"/>
    <link rel="stylesheet" href="/static/css/public.css">
    <style>
        .icon-user,.icon-mubiao,.icon-huodongzhongxin{
            font-weight: 500;
        }
        .iconfont_on{
            color:rgba(31,162,255,1) !important;
        }
        .coloum-center{
            padding: 10px;
        }
        .weui-tabbar__item.weui-bar__item_on .weui-tabbar__icon, .weui-tabbar__item.weui-bar__item_on .weui-tabbar__icon > i, .weui-tabbar__item.weui-bar__item_on .weui-tabbar__label{
            color: #999999;
        }
        .weui-tabbar__label{
            color: #999999;
        }
        .weui-tabbar a:visited {
            color: #999999;
        }
        .weui-tabbar__item.weui-bar__item--on .weui-tabbar__label{
            color:rgba(31,162,255,1);
        }
        .weui-tabbar__label{
            line-height: 25px;
        }
        .wallet-card{
            font-size: 14px;
        }
        a:hover{
            color: initial;
            text-decoration:none;
        }
    </style>
    <!-- 弹窗 -->
    <style>
        .mask_on,.mask_on_1{
            position: fixed;
            z-index: 1000;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            background: rgba(0,0,0,.6);
        }
        .hide_box{
            display: none;
            position: fixed;
            z-index: 5000;
            width: 80%;
            max-width: 300px;
            top: 50%;
            left: 50%;
            -webkit-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);
            text-align: left;
            overflow: hidden;
            padding: 25px;
            font-size: 10px;
            border-radius: 10px;
            color:rgba(0,0,0,0.5)
        }
        .weui-prompt-input{
            height: 3em;
        }
        .p_overflow{
            text-overflow:ellipsis;
            overflow:hidden;
            white-space:nowrap;
        }
        .info-list{
            margin-top: 0;
        }

    </style>
</head>

<body ontouchstart >
	<!--整个页面-->
	<div class="top-pannel">
		<!--个人中心-->
		<ul class="info-list fadeInLeft_1">
			<!--个人信息-->
			<li class="info-item">
				<!--
                <div class="row-space" style="padding-left: 5%;padding-right: 5%">
                    <h4>
                        个人信息
                    </h4>
                    <a class="btn btn-danger" id="setting-btn">
                        设置
                    </a>
                </div>
                -->
				<div class="row-center left user-header__panel" style="">
					<!--
					<img src="{{ user.headimgurl }}" class="img-circle" style="border:1px solid lightgray;width: 30%;">
					</img>
					-->


                    <div class="img_circle_box" style="display: inline-block;position: relative;width: 30%;">
                        <img src="{{ user.headimgurl }}" class="img-circle pictureEnlarge"
						 style="border:1px solid #efebe9;width:80%;margin: auto;display: block;margin-left: 10%">

                    <!--
                        {% if fools == 1 and status == 0 %}

                            {%if user.user_id == 100849 %}
                                <img src="/static/images/aprilFool/aprilFool_0_3@2x.png" id="1_fools_1" style="position: absolute;right: 0;opacity:1;height: 45px;bottom: 0;">
                            {% else %}
                                <img src="/static/images/aprilFool/aprilFool_0_0@2x.png" id="_fools_" style="position: absolute;width: 100%;bottom: -50px;opacity:0;height: 45px">
                            {% endif %}
                        {% elif fools == 1 and status == 1 %}
                            <img src="/static/images/aprilFool/1155@2x.png" id="_fools_1" style="position: absolute;width: 100%;opacity:0;height: 120%;">
                        {% endif %}
                    -->

                    </div>


					<div class="user-header__text" style="max-width: 50%;overflow: hidden;">
                        <div style="overflow: hidden;">
                            <div style="font-size:1.1em;font-weight: 600;display:block;max-width: 70%;overflow: hidden;float: left;" >
                                <span id="setting-nickname" class="">{{ user.nickname }}</span>
                            </div>
                            <div style="font-size:1.1em;font-weight: 600;display: block;width:26px;float: left;margin-left: 10px;" >
                                <span class="setting-nickname_1" style="font-size:12px;margin-left:1px;color:  #03BC49; ">修改</span>
                            </div>
                        </div>
						<div style="margin-top: 8px;color: #B6C1C8;">账号: <span id="setting-user_id" class="">{{ user.user_id }}</span></div>
					</div>
                    <div style="position: absolute;right:25px;top: 40px;width: 30px;">
                        <a href="/user/share/go?user_id={{ user.user_id }}" style="display: block;">
                            <img src="/static/images/user/share@2x.png" style="width: 100%;">
                        </a>

                    </div>
                    <div style="position: absolute;right:25px;top: 75px;width: 60px;text-align: right;">
                        <a href="/user/share/go?user_id={{ user.user_id }}" style="display: block;">
                            邀请
                        </a>
                    </div>
				</div>

			</li>
			<!--个人信息-->
			<li class="info-item">
				<div class="row-space wallet-card">
					<div class="coloum-center" style="flex: 0.55;">
						<h4>
							我的钱包
						</h4>
						<span class="wallet-card__entry">活动押金 :
							<span class="wallet-card__num">{{ user.deposit }}&nbsp;元</span>
						</span>
                        <span class="wallet-card__entry">我的收益 :
                            <span class="wallet-card__num">
                                <span id="extra_money_add_money">{{ user.add_money|add:user.extra_money }}</span>&nbsp;元</span>
						</span>

						<span class="wallet-card__entry" style="display: none">今日收益 :
							<span class="wallet-card__num">{{ user.today_profit }}</span>
						</span>

                         <span class="wallet-card__entry aprilFool_" style="font-weight: bold">余&#12288;&#12288;额 :
							<span class="wallet-card__num">{{ user.balance }}&nbsp;元</span>
                         </span>
					</div>

					<div class="coloum-center">

                        <h4 style="display: block;height: auto;width: 100%;text-align: right;">
							<a class="cash-link aprilFool_" id="aprilFool_" href="/user/cash" style="border: 1px solid #03BC49;border-radius: 5px;padding: 5px 10px;font-size: 14px;">
                                提现
                            </a>

						</h4>
                        <span class="wallet-card__entry">
							&nbsp;
						</span>
                        <span class="wallet-card__entry">
							&nbsp;
						</span>
                        <span class="wallet-card__entry">
							&nbsp;
						</span>

                        <span class="wallet-card__entry" style="display: none">额外收益 :
{#                            <span class="wallet-card__num">{{ extra_earn }}</span>#}
                            <span class="wallet-card__num">{{ user.extra_money|default:'0.00' }}</span>
						</span>
						<span class="wallet-card__entry" style="display: none;">积分 :
							<span class="wallet-card__num">{{ user.points }} </span>
						</span>
						<span class="wallet-card__entry" style="display: none;">图币 :
							<span class="wallet-card__num">{{ user.virtual_balance }}</span>
						</span>


                         <span class="wallet-card__entry aprilFool_" style="display: none">余&#12288;额 :
							<span class="wallet-card__num">{{ user.balance }}</span>
                         </span>


					</div>
				</div>
			</li>
			<!--个人信息-->
			<li class="info-item">
				<div class="wallet-card">

					<h4 >{%if user.user_id == 100274 or user.user_id == 100259 %}<a href="/test" style="color: inherit;">历</a>{% else %}历{% endif %}史记录</h4>
					<div class="row-space">
						<div class="coloum-center" style="flex: 0.55;">
							<span class="wallet-card__entry">完成/参与次数:
								<span class="wallet-card__num">{{ record.finish_times }}/{{ record.join_times }}
								</span>
							</span>
							<span class="wallet-card__entry">总系数:
								<span class="wallet-card__num">{{ record.all_coefficient }}</span>
							</span>
                            <span class="wallet-card__entry">历史收益 :
                                <span class="wallet-card__num">{{ user.all_profit }}&nbsp;元</span>
                            </span>
						</div>
						<div class="coloum-center">
							<a class="cash-link" href="/user/history" hidden>更多</a>
							<span class="wallet-card__entry">成功率:
								<span class="wallet-card__num">{{ successrate }}%
								</span>
							</span>
							<span class="wallet-card__entry">
								完成天数: <span class="wallet-card__num">{{ record.finish_days }}</span>
							</span>
                            <span class="wallet-card__entry">
                                &#12288;
                            </span>
						</div>
					</div>
				</div>
			</li>
            <div class="weui-cells" style="margin-top: 15px" >
                <a class="weui-cell weui-cell_access" href="/user/order" style="padding: 10px 20px 10px 25px;">
                    <div class="weui-cell__bd">
                        <h4>我的订单</h4>
                    </div>
                    <div class="weui-cell__ft">

                    </div>
                </a>
            </div>

		</ul>


        <!--
        <div id="test-btn" class="weui-btn weui-btn_primary">
            测试
        </div>
        -->

		<!--导航栏, 使用微信风格-->
    	<div class="weui-tabbar">
            <a href="/activity/index" class="weui-tabbar__item">
                <div class="weui-tabbar__icon">
                   <i class="iconfont icon-huodongzhongxin"></i>
                </div>
                <p class="weui-tabbar__label">微众活动</p>
            </a>
            <a href="/goal/index" class="weui-tabbar__item">
                <div class="weui-tabbar__icon">
                    <i class="iconfont icon-mubiao"></i>
                </div>
                <p class="weui-tabbar__label">我的目标</p>
            </a>
            <a href="/user/index" class="weui-tabbar__item weui-bar__item--on">
                <div class="weui-tabbar__icon">
                    <i class="iconfont icon-user iconfont_on"></i>
                </div>
                <p class="weui-tabbar__label">个人中心</p>
            </a>
        </div>
	</div>

    <!--  弹窗  -->
    <div class="hide_content">
        <div class="mask_on" style="display: none"></div>
        <div class="mask_on_1" style="display: none"></div>

        <!--  点击提现 弹窗
        <div class="hide_box" id="aprilFool_0_box">
            <div>
                <img src="/static/images/aprilFool/aprilFool_0_1@2x.png" style="width: 100%">
            </div>
            <div>
                <img src="/static/images/aprilFool/aprilFool_0_2@2x.png"  style="width: 60%;display: block;margin:20px auto">
            </div>
        </div>

        -->

        <!--  点击余额 弹窗
        <div class="hide_box" id="aprilFool_1_box">
            <div>
                <img src="/static/images/aprilFool/aprilFool_1_1@2x.png" style="width: 100%">
            </div>
            <div>
                <img src="/static/images/aprilFool/aprilFool_1_2@2x.png"  style="width: 60%;display: block;margin:20px 0 0 25px;">
            </div>
        </div>



        <div class="hide_box" id="aprilFool_2_box">
            <div>
                <img src="/static/images/aprilFool/aprilFool_2_1@2x.png" style="width: 100%">
            </div>
            <div>
                <img src="/static/images/aprilFool/aprilFool_2_2@2x.png"  style="width: 60%;display: block;margin:20px auto">
            </div>
        </div>

        -->
        
    </div>


	<script type="text/javascript" src="/static/js/jquery-2.1.4.js"></script>
    <script type="text/javascript" src="/static/js/jquery-weui-2.1.4.js"></script>
    <script type="text/javascript" src="/static/js/public.js"></script>
	<script type="text/javascript" src="/static/js/fastclick.js"></script>
	<script>
		// fast click binding
		$(function () {
			FastClick.attach(document.body);
		});

		//获取微信 头像
        update_headimg();
        function update_headimg() {
            console.log("开始更新用户头像");
            var req=0;
            var nickname =$("#setting-nickname").text().trim();
            var user_id =$("#setting-user_id").text().trim();
            if(nickname==user_id){
                console.log("更新为微信昵称");
                req=1;
            }
		    $.ajax({
                type: "POST",
                url: "/api/update_headimg",
                data:{
                    "req":req
                },
                success: function (res) {
                    console.log(res);
                    console.log("更新成功");
                }
            });
        }

        var extra_money='{{ user.add_money|floatformat:2 }}';
        var add_money ='{{ user.extra_money|floatformat:2 }}'; //底金
        //$("#extra_money_add_money").text(parseFloat(Number(extra_money)*100+Number(add_money)*100)/100);
        $("#extra_money_add_money").text(parseInt(Number(extra_money)*100+Number(add_money)*100)/100);

	</script>
{#	<script type="text/javascript" src="/static/js/jquery-weui.min.js"></script>#}
	<script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="/static/js/index.js"></script>
	<script type='text/javascript' src='/static/js/swiper.min.js' charset='utf-8'></script>


	<script>
        var colHeight = window.innerHeight || document.documentElement.clientHeight || document.body.clientHeight;
        var colWidth = window.innerWidth || document.documentElement.clientWidth || document.body.clientWidth;
        var img_w=(colWidth-20)*0.3*0.8;

        $(".user-header__text").width(colWidth-colWidth*0.3-100);

        $(".img_circle_box").height(img_w);

		$(document).ready(function(){
			function resizeInput(){
				$(this).attr('size', $(this).val().length);
			}
			$('input[type="text"]').each(resizeInput);

		});
		$("#usersex").change(function () {
			var val = $(this).val().trim();
			if(!(val === "男" || val === "女")){
				alert("非法输入!");
				$(this).val("男");
			}
		});
		$("#userage").change(function () {
			if(!/^\d+$/.test($(this).val()))
			{
				$(this).val($(this).val().replace(/[^\d]+/g,''));
			}
		});
		$('input[type="text"]').focus(function(){
			$(this).addClass('input-focus');
		});
		$('input[type="text"]').focusout(function(){
			$(this).removeClass('input-focus');
		});
		$("#setting-btn").click(function(){
			var status = $(this).attr("checked");
			if(status !== "checked"){
				$(this).text("保存");
				$(this).attr("checked","checked");
				$('input[type="text"]').removeAttr("disabled");
				$('input[type="text"]').addClass('input-activated');
			}
			else{
				$(this).text("设置");
				$(this).removeAttr("checked");
				$('input[type="text"]').attr("disabled");
				$('input[type="text"]').removeClass('input-activated');
				var sex = $("#usersex").val().trim() === "男"? 1:2;
				//TODO:向后端发送更新信息的请求
				var data = JSON.stringify({
							'wechat_id':$("#useraccount").val().trim(),
							'sex': sex,
							'nickname':$("#username").val().trim(),
							'age':parseInt($("#userage").val().trim())
							});
				$.post('/api/update_user',{"data":data});
			}
		});
		
		$("#setting-nickname,.setting-nickname_1").click(function () {
            console.log("修改姓名");
            $.confirm("确定要修改姓名吗？", function() {
            //点击确认后的回调函数
                revise()
            }, function() {
            //点击取消后的回调函数
            });
        });
		function revise() {
		    var _name_ =$("#setting-nickname").text();
            $.prompt({
                title: '',
                text: '修改昵称！',
                input: _name_,
                empty: false, // 是否允许为空
                onOK: function (input) {
                    console.log(input);
                    //点击确认

                    if (input.length > 10) {
                        $.toptip('输入的昵称不能超过10个字符！', 'warning');
                        $.toast("修改失败", "cancel",function () {

                        });
                        return
                    }

                    $.ajax({
                        type: "GET",
                        url: "/user/change_name",
                        data:{
                           "name":input
                        },
                        success: function (res) {
                            //alert(res);
                            if(res.status=="403"){
                                $.toast("修改失败", "cancel");
                                return
                            }
                            $("#setting-nickname").text(input);
                            $.toast("修改成功");
                        }
                    });
                },
                onCancel: function () {
                //点击取消

                }
            });
        }
        

	</script>

    <!--  图片放大  -->
    <script>
        //图片放大
        $("body").on("click", ".pictureEnlarge", function () {
            update_headimg();
            var src_img = $(this).attr("sta_url");
            if(src_img==undefined || src_img=="" || src_img==null){
                //console.log("console.log(src_img);");
                //console.log(src_img);
                src_img = $(this).attr("src");
            }
            var ImageData_ = $.photoBrowser({
                items: [
                    {
                        image: src_img,
                        caption: ""
                    }
                ]
            });
            ImageData_.open();
        });

    </script>


    <!--
<script>

    $("#test-btn").click(function(){
        alert("点击");
        $.ajax({
            type: "POST",
            url: "/user/invite",
            data:{
            },
            success: function (res) {
                alert(res.num);
            }
         });
    })
</script>


<script>

    console.log("---------------fools: {{ fools }}------------------");
    console.log("---------------status:{{ status }}------------------");



    {% if fools == 1 %}


    {% else %}

        function aprilFoolActivation(type_) {
            console.log("req:"+type_);

            $.ajax({
                type: "POST",
                url: "/api/foolsday/create_active",
                data:{
                   "req":type_
                },
                success: function (res) {
                    //alert(res);
                    console.log(res);
                    if(type_== 0){
                        $(".mask_on_1").show();
                        $("#aprilFool_0_box").show();
                    }else if(type_ == 1){
                        $(".mask_on_1").show();
                        $("#aprilFool_1_box").show();
                    }
                }
            });
        }

        //提现 0
        $("#aprilFool_0").click(function () {
            //alert("点击提现");
            aprilFoolActivation(0);
        });

        //余额 1
        $("#aprilFool_1").click(function () {
            //alert("点击余额");
            aprilFoolActivation(1);
        });

        //获得4.1 并且刷新
        $("#aprilFool_2_box").click(function () {
            //alert("1")
            window.location.reload();
        });

        //获取日期
        var date_=getNowFormatDate();
        function getNowFormatDate() {
            var date = new Date();
            var month = String(date.getMonth() + 1);
            var strDate = String(date.getDate());
            var currentdate = month+"-"+strDate;
            if(currentdate=="4-1"){
                return true
            }else{
                return false
            }
        }
        console.log(date_);
        if(date_){
            console.log("是4月1号");
            $(".aprilFool_").hide();
            $("#aprilFool_0").show();
            $("#aprilFool_1").show();
        }else{
            console.log("不是4月1号");
            $("#aprilFool_0").hide();
            $("#aprilFool_1").hide();
        }

        //关闭弹窗
        $(".mask_on").click(function () {
            $(".hide_box").hide();
            $(this).hide();
            window.location.reload();
        });

        $(".mask_on_1,#aprilFool_1_box,#aprilFool_0_box").click(function () {
            ccc()
        });


        //公用
        function ccc() {
            $("#aprilFool_0_box").hide();
            $("#aprilFool_1_box").hide();
            $(".mask_on_1").hide();
            $("#aprilFool_2_box").show();
            $(".mask_on").show()
        }

        //提现
        function aprilFool_0() {

        }

        //余额
        function aprilFool_1() {

        }

    {% endif %}



    {% if fools == 1 and status == 0 %}
        var _fools_H=$("#_fools_").height()*5/6;
        $("#_fools_").css("bottom",-_fools_H);
        $("#_fools_").css("opacity",1);

    {% elif fools == 1 and status == 1 %}
        var _fools_H=$("#_fools_1").height()*5/24;
        $("#_fools_1").css("top",-_fools_H);
        $("#_fools_1").css("left",_fools_H*2/13);
        $("#_fools_1").css("opacity",1);
    {% else %}
        $("#_fools_").css("opacity",0);
        $("#_fools_1").css("opacity",0);
    {% endif %}


</script>


 -->
</body>

</html>