<!DOCTYPE html>
<html lang="zh-cmn-Hans">

<head>
    <meta charset="UTF-8">
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=2.0 minimum-scale=0.5, user-scalable=no" />
    <meta name="screen-orientation" content="portrait">
    <meta name="x5-orientation" content="portrait">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>用户协议</title>
    <link rel="stylesheet" href="/static/css/weui.min.css"/>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/static/css/jquery-weui.min.css"/>
    <link rel="stylesheet" href="/static/css/public.css">
<!--
    <link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="http://cdn.fengshiquan.top/fsq5_static/weui/css/weui.min.css" rel="stylesheet">
    <link href="http://cdn.fengshiquan.top/fsq5_static/weui/css/jquery-weui.min.css" rel="stylesheet">
    -->

    <link rel="stylesheet" href="//at.alicdn.com/t/font_591099_cj3jntyolxxenrk9.css"/>
    <style>
        .font_c_black{
            color: #444444;
        }
        .P_1{
            font-size: 12px;color: #666;
        }
        .P_2{
            text-indent:2em;font-size: 12px;color: #666;
        }

        /* */
    </style>
</head>
<body>
    <div class="weui-msg__text-area">
        <h2 class="weui-msg__title" style="text-align: center;font-size: 16px">On蜕变微信公众号服务协议及声明</h2>
        <p class="weui-msg__desc" style="font-size: 10px;margin: 10px auto">更新日期 2018.01.01</p>
        <p class="weui-msg__desc P_1">
            &#12288;&#12288;欢迎您使用On蜕变自我塑造服务。On蜕变中的活动仅向成年人开放，符合条件的用户请仔细阅读该协议内容。在关注本微信公众号，才能参与On蜕变平台中的服务。通过参与活动程序支付对应押金等费用后，您即可使用On蜕变服务。在生成活动之前，请您首先同意并接受以下服务条款。
        </p>
        <p class="weui-msg__desc P_1" style="">
            <strong class="font_c_black">【注意】</strong>
            On蜕变微信公众号有责任提醒您，请仔细阅读以下全部内容，如果您不同意本服务协议的任一或全部条款内容，请不要以确认的形式进行下一步操作或使用本协议项下服务。当您确认接受本服务协议或开始使用本协议项下On蜕变服务时，即表示用户与On蜕变（厦门微众力科技有限公司）已达成协议关系，并自愿接受并遵守On蜕变中所有服务协议及相关之子协议、管理规范等。
        </p>
        <p class="weui-msg__desc P_1" style="">
            第一条<strong class="font_c_black">【接受协议】</strong><br>
            &#12288;&#12288;在您决定支付参与活动之前，请仔细阅读本收费协议条款。您必须在完全同意以下条款的前提下，才能进行支付程序。您在使用On蜕变服务时必须完全、严格遵守本协议条款。
        </p>
        <p class="weui-msg__desc P_1" style="">
            第二条<strong class="font_c_black">【协议变更】</strong><br>
            &#12288;&#12288;On蜕变根据互联网的发展和中华人民共和国有关法律、法规的变化，不断地完善服务质量并依此修改服务条款。On蜕变有权就本协议随时更新，本协议如果变更，On蜕变将尽可能提前在On蜕变发布通知。但您应了解并同意，On蜕变有可能未经事先通知，而修改或变更本协议的全部或部分内容，您也应随时关注本协议是否有修改或变更之情形。
            <br><br>
            &#12288;&#12288;如果本协议修改或变更，而您不能接受修改或变更后的内容，您可以停止使用On蜕变服务。如果您继续使用On蜕变服务，则表明您完全接受并愿意遵守修改或变更后的本协议。
        </p>
        <p class="weui-msg__desc P_1" style="">
            第三条<strong class="font_c_black">【服务方式】</strong><br>
            <br>
            3.1 玩法规则
            <br>
            &#12288;&#12288;On蜕变是一个帮助用户实现自我塑造的平台，培养良好的行为习惯、坚持运动健身以及学习兴趣爱好等实用技能。在On蜕变服务中，主要以押金、记录、奖励的形式帮助用户自我塑造。
            每个项活动均为独立设置，所有参与的用户将根据每项活动的活动说明进行活动，请用户在参与每项活动前仔细阅读说明（由于项目种类繁多，请参考每项活动的说明）。本平台拥有所有活动的最终解释权，如有疑问请与客服联系。
            用户将以流水形式参与活动，并可根据个人的系数瓜分当日失败者的部分押金作为奖励。完成目标天数或押金为0的情况下，即活动结束，并可退回剩余押金及累计的瓜分的奖励。
            目前每项活动均由官方发起，部分活动人数上限暂时为1000人（人数上限后续会根据运营情况进行调整，敬请留意）。
            <br>
            <br>
            3.2 参与方式
            <br>
            &#12288;&#12288;设置个人目标，支付押金等金额即可报名参加。支付完押金后，在活动结束前不可申请退出。
            <br>
            <br>
            3.3 记录方式
            <br>
            &#12288;&#12288;在指定时段内完成记录，记录方式主要以打卡、上传指定图片、录音等方式，具体以每项活动的活动说明为准。如在活动过程中有疑问及争议，用户可在工作时段联系客服。客服只处理因不可抗力因素，如系统问题引起的无法完成的情况。
            以示公平，在正常情况下将不受理。如出现特定情况，用户应被瓜分的押金部分将暂时冻结以待解决。（特定情况，本平台拥有最终解释权。） 
            <br>
            <br>
            3.4 瓜分与结算规则
            <br>
            &#12288;&#12288;在活动进行期间,未完成时则扣除部分押金纳入当日活动瓜分池。并根据系数瓜分给当日参与此活动的所有用户。被扣除的押金在被瓜分前会扣除1%的服务费，并取整瓜分。（预学金另外计算。）
            <br>
            &#12288;&#12288;在设置目标时，平台将根据难度给出用户参与活动的相对应的系数。此系数将关系到用户瓜分情况，在活动过程中个人的系数不会改变。（平台或在今后会根据用户反馈在押金与系数上做相应调整或增加临时性拓展活动，正在参与的用户的押金与系数将不受调整影响）。

            &#12288;&#12288;a.活动结束后用户余额=剩余押金+累计收益（瓜分金或其他奖金）
            <br>
            &#12288;&#12288;b.未完成活动的用户：每次失败将扣除部分押金（详情需根据相关活动规定）
            <br>
            &#12288;&#12288;c.每日收益：所有未完成用户的部分押金总和 ×99%×个人系数÷当日总系数（当日总系数=所有用户的个人系数总和，包括当日未完成用户。）
            <br>
            &#12288;&#12288;d.c项中被扣除的押金在被瓜分前会扣除1%的服务费，若当日参与活动的所有用户皆完成记录时将不收取此部分费用。同理也适用于，当日所有用户皆未完成的情况。
            <br>
            <br>
            3.5 其他
            <br>
            &#12288;&#12288;部分活动采用上传图片或音频等记录方式，因此本平台新增举报功能。根据用户互相监督情况，本平台有权删除部分无效记录，删除时平台将即时通知无效用户并请用户重新记录。若对记录情况有疑问，请在当日内尽快联系客服人员 。
        </p>
        <p class="weui-msg__desc P_1" style="">
            第四条<strong class="font_c_black">【合法使用】</strong>
            <br>
            &#12288;&#12288;您不得通过On蜕变服务直接或间接地从事以下违反国家法律法规及社会公序良俗等不法行为。On蜕变有权对您就使用服务之行为进行不定期监督，一旦发现涉及上述之行为，On蜕变有权将您踢出正在参与中的活动以及收回您对服务的使用权。而且，On蜕变将依法向国家机关就您之行为进行举报并保留进一步追究您的行为而导致On蜕变损失之权利。
            <br>
            &#12288;&#12288;您同意，如因您违反法律规定或本协议规定给On蜕变造成损失，您将充分赔偿On蜕变所遭受的损失、包括其直接损失、间接损失、预期利益损失等一切损失。
            <br>
            &#12288;&#12288;您承诺，如因第三方向您主张权利而导致您承担责任，或您承担行政责任或刑事责任的，您不以此为理由追究On蜕变的责任。

        </p>
        <p class="weui-msg__desc P_1" style="">
            第五条<strong class="font_c_black">【免责声明】</strong>
            <br>
            &#12288;&#12288;On蜕变微信公众号仅为用户提供以商业信用运营的网络平台。用户参与平台上任意活动皆为自发性行为，用户需根据个人能力范围内完成个人所设立的目标。用户在参与活动过程中个人所出现的意外，如：交通意外、天气地震等不可预知因素，本平台将不承担任何上述不可预知情况所带来的责任。
        </p>
        <br>
        <p style="text-align: right;font-size: 15px;">微众力科技有限公司</p>
        <p style="text-align: right;font-size: 15px;">2018年1月</p>
      </div>

</body>
</html>